<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1>Hello!! </h1>

<h2> All books </h2>
 <a href="/calculator/"> calculator </a>



{% for book in all_books %}

    <h3>
        <a href="about.html"></a>

    </h3>
    <div>
        <p>Title - {{ book.title }}</p>
        <p>Price - {{ book.price }}</p>
        <p>Description - {{ book.description }}</p>


    </div>
{% endfor %}

</body>
</html>